<div class="jumbotron footer">
  <div class="wrapper">
    <div class="social">
      <a href="https://www.facebook.com/DawoodStore/" class="link facebook"  target="_blank"><span class="fa fa-facebook-square"></span></a>
      <a href="https://www.etsy.com/shop/DawoodStore" class="link etsy" target="_blank"><span class="fa fa-etsy"></span></a>
      <a href="https://www.instagram.com/dawood_woodencrafts/" class="link instagram" target="_blank"><span class="fa fa-instagram"></span></a> 
    </div>
  </div>
</div>
