<div class="middlebox container-fluid backgroundideas">
  <img src="<%= image_url('cvike/nee.png') %>" class="mainlogo">
  <h1 class="shorttext">Coming soon</h1>
  <div class="ikone">
    <div class="wrapper">
      <div class="social">
        <a href="https://www.facebook.com/DawoodStore/" class="link facebook"  target="_blank"><span class="fa fa-facebook-square"></span></a>
        <a href="https://www.instagram.com/dawood_woodencrafts/" class="link instagram" target="_blank"><span class="fa fa-instagram"></span></a>
        <a href="mailto:dawood.woodencrafts@gmail.com" class="link mail" title="Email: dawood.woodencrafts@gmail.com" target="_blank"><span class="fa fa-envelope"></span></a>
      </div>
    </div>
  </div>
</div>
