<!DOCTYPE html>
<html>
  <head>
    <title>DawoodEyewear</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'underconstruction', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">

  </head>
  <body>
    <%= yield %>

  </body>
</html>
